#root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

button {
  width: 100%;
  max-width: 200px;
  height: 40px;
  transition: 300ms;
  text-transform: uppercase;
  font-weight: bold;
}

.hidden {
  display: none !important;
}

.no-blur {
  filter: blur(0px) !important;
}

.no-limitation {
  overflow: auto !important;
  max-height: initial !important;
}

.no-limitation::after {
  display: none;
}

.no-limitation::before {
  display: none;
}
